<a href="https://colab.research.google.com/github/kalswjd/DA_School_1/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D%EC%8A%A4%EC%BF%A8_0504_%5B%EA%B8%B0%EC%B4%88%5D%EA%B0%99%EC%9D%B4%ED%91%B8%EB%8A%94python_%EC%97%B0%EC%8A%B5%EC%9E%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
food1 = int(input("내가 먹은 음식 가격 : "))
food2 = int(input("네가 먹은 음식 가격 : "))

print(food1 + food2)

내가 먹은 음식 가격 : 1200
네가 먹은 음식 가격 : 1200
2400

In [4]:
orders = []
orders.extend(['짜장면', '짬뽕', '탕수육'])
print(orders)

['짜장면', '짬뽕', '탕수육']

In [5]:
del orders[0]
print(orders)

['짬뽕', '탕수육']

In [6]:
orders.remove('짬뽕')

In [7]:
print(orders)

['탕수육']

In [8]:
len(orders)

1

In [11]:
orders.extend(['짜장', '짬뽕', '볶음밥','유산슬','난자완스'])
len(orders)

6

In [12]:
print(orders)

['탕수육', '짜장', '짬뽕', '볶음밥', '유산슬', '난자완스']

In [13]:
name = '안녕하세요 코드라이언입니다.'
len(name)

15

In [14]:
num = [20, 40, 50, 10, 30]

In [15]:
sum(num)

150

In [16]:
sum(num) / len(num)

30.0

In [17]:
max(num)

50

In [18]:
min(num)

10

In [19]:
menu = {'짜장' : 4000,
        '짬뽕' : 5000,
        '탕수육' : 9000}
print(menu)

{'짜장': 4000, '짬뽕': 5000, '탕수육': 9000}

In [20]:
menu["냉면"] = 6000

In [21]:
print(menu)

{'짜장': 4000, '짬뽕': 5000, '탕수육': 9000, '냉면': 6000}

In [22]:
print(menu['짜장'])

4000

In [26]:
menu['짜장'] = 4500
print(menu)

{'짜장': 4500, '짬뽕': 5000, '탕수육': 8500, '냉면': 6000, '짜장면': 4500}

In [30]:
del menu['짜장면']

In [28]:
print(menu)

{'짬뽕': 5000, '탕수육': 8500, '냉면': 6000, '짜장면': 4500}

In [32]:
menu1 = {'Q' : 1, 'W' : 2}
print(menu1)

{'Q': 1, 'W': 2}

In [33]:
menu1['Q']

1

In [34]:
menu1['E'] = 3

In [36]:
print(menu1)

{'Q': 1, 'W': 2, 'E': 3}

In [38]:
print(menu1['Q'])

1

In [41]:
menu1['Q'] = 4
print(menu1)

{'Q': 4, 'W': 2, 'E': 3}

In [43]:
del menu1['Q']

In [44]:
print(menu1)

{'W': 2, 'E': 3}

In [48]:
나 = int(input('나의 학번'))
동료 = int(input('동료의 학번'))

if 나 == 동료:
    print('앗! 동기네요')
    print('동기님!')
elif 나 < 동료:
        print('후배님!')
else:
        print('선배님!')

나의 학번12
동료의 학번13
후배님!

In [2]:
orders = ['apple', 'orange', 'melon']

fruit = input('무슨 과일이 먹고싶니? : ')

if fruit in orders:
    print('주문 가능 ㄱㄱ?')
else:
    print('주문 불가 ㄴㄴ')

무슨 과일이 먹고싶니? : strawberry
주문 불가 ㄴㄴ

In [3]:
print(menu1)

NameError: ignored

In [5]:
menu = {'q' : 1, 'w' : 2, 'e' : 3}

order = input('골라')

if order in menu:
    print('가능',menu[order],'원')
else:
    print('no')

골라q
가능 1 원

In [ ]:
while 10<90:
    print('true')

In [10]:
i = 5


while i >= 0:
    print(i)
    i -= 1

5
4
3
2
1
0

In [21]:
for a in range(4,31,2):
    print(a)

4
6
8
10
12
14
16
18
20
22
24
26
28
30

In [22]:
sum(range(1,101))

5050

In [24]:
result = 1

for x in range(1,10):
    result = x * result

print(result)

362880

In [1]:
print('*')

*

In [20]:
for i in range(5):
    a = '*' * 5
    print(a)

*****
*****
*****
*****
*****

In [23]:
x = int(input('숫자를 입력하세요'))

for i in range(x):
    i += 1
    print(i)

숫자를 입력하세요19
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [24]:
x = int(input('숫자를 입력하세요'))

for i in range(x):
    i = x - i
    print(i)

숫자를 입력하세요5
5
4
3
2
1

In [26]:
x = int(input('숫자를 입력하세요'))

for i in range(x):
    i += 1
    if i % 10 == 0:
        print(i)
    else:
        print(i, end='')

숫자를 입력하세요30
12345678910
11121314151617181920
21222324252627282930

In [28]:
import random

In [52]:
user = int(input('로또를 몇개 사실? : '))

for i in range(user):
    randnum = random.sample(range(1,46),6)
    randnum.sort()
    print(randnum)

로또를 몇개 사실? : 3
[11, 21, 28, 31, 32, 34]
[3, 9, 17, 29, 32, 41]
[6, 7, 10, 23, 39, 43]

In [40]:
for i in range(5):
    q = '*' * (i + 1)
    print(q)

*
**
***
****
*****

In [53]:
name = {"길동" : 20, "철수" : 25, "영희" : 27}

In [55]:
del name["길동"]

In [56]:
print(name)

{'철수': 25, '영희': 27}

In [58]:
for i in range(8) :
    i += 1
    print(i)

1
2
3
4
5
6
7
8