<a href="https://colab.research.google.com/github/kalswjd/DA_School_1/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D%EC%8A%A4%EC%BF%A8_0509_%EC%B4%88%EB%B3%B4%EC%9E%90%EB%A5%BC_%EC%9C%84%ED%95%9C_%ED%8C%8C%EC%9D%B4%EC%8D%AC_300%EC%A0%9C_%ED%92%80%EC%9D%B4%EB%85%B8%ED%8A%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 초보자를 위한 파이썬 *300제*
https://wikidocs.net/7027

## 파이썬 시작하기

In [ ]:
#1
print('Hello World')

Hello World

In [ ]:
#2
print('Mary\'s cosmetics')

Mary's cosmetics

In [ ]:
#3
print('신씨가 소리질렀다. \"도둑이야\".')

신씨가 소리질렀다. "도둑이야".

In [ ]:
#4
print('\"C:\Windodws\"')

"C:\Windodws"

In [ ]:
#5
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

In [ ]:
#8
print('naver', 'kakao', 'sk', 'samsung', sep='/')

naver/kakao/sk/samsung

In [ ]:
#9
print("first");print("second")

print("first", end=""); print("second")

first
second
firstsecond

In [ ]:
#10
print(5/3)

1.6666666666666667

## 파이썬 변수

In [ ]:
#11
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [ ]:
#12 
시가총액 = 290000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

290000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [ ]:
#13 #re
s = 'hello'
t = 'python'

In [ ]:
print(s+'!', t)

hello! python

In [ ]:
#15
a = 132
print(type(a))

<class 'int'>

In [ ]:
#16
num_str = '720'
num_int = int(num_str)
print(num_int, type(num_int))

720 <class 'int'>

In [ ]:
#19
year = '2020'
year_int = int(year)

for i in range(3):
    print(year_int + (i+1))

2021
2022
2023

## 파이썬 문자열

In [ ]:
#21
letters = 'python'
print(letters[0], letters[2])

p t

In [ ]:
#22
license_plate = "24가 2210"
print(license_plate[4::])

2210

In [ ]:
#23
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [ ]:
#24
string = "PYTHON"
print(string[::-1])

NOHTYP

In [ ]:
#25 #re
phone_number = "010-1111-2222"
print(phone_number.replace('-',' '))

010 1111 2222

In [ ]:
#26
print(phone_number.replace('-',''))

01011112222

In [ ]:
#27 #re
url = "http://sharebook.kr"
url_split = url.split('.')
print(url_split[-1])

kr

In [ ]:
#29
string = 'abcdfe2a354a32a'
print(string.replace('a','A'))

Abcdfe2A354A32A

In [ ]:
print(string)

abcdfe2a354a32a

In [ ]:
#34
t1 = 'python'
t2 = 'java'
print((t1 + ' ' + t2 + ' ') * 3)

python java python java python java

In [ ]:
#35
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f'이름 : {name1} 나이 : {age1}')
print(f'이름 : {name2} 나이 : {age2}')

이름 : 김민수 나이 : 10
이름 : 이철희 나이 : 13

In [ ]:
#38 #re
상장주식수 = "5,969,782,550"
제거후 = 상장주식수.replace(',','')
print(int(제거후), type(제거후))

5969782550 <class 'str'>

In [ ]:
#39
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [ ]:
#40
data = "   삼성전자    "
data.strip()

'삼성전자'

In [ ]:
#41
ticker = "btc_krw"
ticker.upper()

'BTC_KRW'

In [ ]:
#42
ticker = "btc_krw"
ticker.lower()

'btc_krw'

In [ ]:
#43
q = "hello"
q.capitalize()

'Hello'

In [ ]:
#44 #re
file_name = "보고서.xlsx"
file_name.endswith('xlsx')

True

In [ ]:
#45
file_name = "보고서.xlsx"
file_name.endswith('xls')

False

In [ ]:
#46
file_name = "2020_보고서.xlsx"
file_name.startswith('2020')

True

In [ ]:
#47 #re
a = "hello world"
a.split()

['hello', 'world']

In [ ]:
#48
ticker = "btc_krw"
ticker.split('_')

['btc', 'krw']

In [ ]:
#49
date = "2020-05-01"
date.split('-')

['2020', '05', '01']

In [ ]:
#50
data = "039490     "
data.rstrip()

'039490'

## 파이썬 리스트

In [ ]:
#51
movie_rank = ['닥터 스트레인지', '스플릿', '럭키']

In [ ]:
#52
movie_rank.append('배트맨')
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [ ]:
#53
movie_rank.insert(1,'슈퍼맨')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [ ]:
#54
movie_rank.remove('럭키')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [ ]:
#55
del movie_rank[2]
del movie_rank[2]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [ ]:
#56
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [ ]:
#57
nums = [1, 2, 3, 4, 5, 6, 7]
print(f'max: {max(nums)}\nmin: {min(nums)}')

max: 7
min: 1

In [ ]:
#58
nums = [1, 2, 3, 4, 5]
sum(nums)

15

In [ ]:
#59
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자",
        "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
len(cook)

12

In [ ]:
#60
nums = [1, 2, 3, 4, 5]
print(sum(nums)/len(nums))

3.0

In [ ]:
#61 #re
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [ ]:
#62
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

[1, 3, 5, 7, 9]

In [ ]:
#63
print(nums[1::2])

[2, 4, 6, 8, 10]

In [ ]:
#64
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

In [ ]:
#65
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0],interest[2])

삼성전자 Naver

In [ ]:
#66 #re     
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

print(interest)

print(' '.join(interest)) #join함수_리스트를 문자열로 일정하게 합쳐줌 (<-> split메서드)

['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [ ]:
#67
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

print('/'.join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [ ]:
#68
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

print('\n'.join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [ ]:
#69
string = "삼성전자/LG전자/Naver"
string.split('/')

['삼성전자', 'LG전자', 'Naver']

In [ ]:
#70
data = [2, 4, 3, 1, 5, 10, 9]

print(sorted(data))

[1, 2, 3, 4, 5, 9, 10]

## 파이썬 튜플

In [ ]:
#71
my_variable = ()
print(type(my_variable))

<class 'tuple'>

In [ ]:
#72
movie_rank = ('닥터 스트레인지','스플릿','럭키')

In [ ]:
#73
q = (1)
type(q)

int

In [ ]:
w = (1,)
type(w)

tuple

In [ ]:
#74
t = (1, 2, 3)
t[0] = 'a' #tuple은 원소(element)의 값을 변경할 수 없다.

TypeError: ignored

In [ ]:
#75
t = 1, 2, 3, 4
type(t) #원칙적으로 튜플은 괄호와 함께 데이터를 정의해야 하지만, 사용자 편의를 위해 괄호 없이도 동작.

tuple

In [ ]:
#76
t = ('a', 'b', 'c')
t = ('A', 'b', 'c')
print(t)

('A', 'b', 'c')

In [ ]:
#77
interest = ('삼성전자', 'LG전자', 'SK Hynix')
list(interest)

['삼성전자', 'LG전자', 'SK Hynix']

In [ ]:
#78
interest = ['삼성전자', 'LG전자', 'SK Hynix']
tuple(interest)

('삼성전자', 'LG전자', 'SK Hynix')

In [ ]:
#79
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [ ]:
#80 #re
j = tuple(range(2,100,2))
print(j)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

# 파이썬 딕셔너리

In [ ]:
#81 #re     #star expression_데이터 언패킹은 좌변의 변수와 우변 데이터 개수가 같아야하지만 
            #star expression을 사용하면 변수의 개수가 달라도 데이터 언패킹을 할 수 있습니다
            
a, b, *c = (0, 1, 2, 3, 4, 5)
a

0

In [ ]:
b

1

In [ ]:
c

[2, 3, 4, 5]

In [ ]:
#81
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, b, c = scores
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [ ]:
#82
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, b, *valid_score = scores
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [ ]:
#83
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, *valid_score,b = scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [ ]:
#84
temp = {}

In [ ]:
#85
ice = {'메로나' : 1000, '폴라포' : 1200, '빵빠레' : 1800}
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [ ]:
#86
ice['죠스바'] = 1200
ice['월드콘'] = 1500
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
#87
print('메로나 가격: ', ice['메로나'])

메로나 가격:  1000

In [ ]:
#88
ice['메로나'] = 1300
print(ice['메로나'])

1300

In [ ]:
#89
del ice['메로나']
print(ice)

{'폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
#91
inventory = {"메로나": [300, 20], 
             "비비빅": [400, 3], 
             "죠스바": [250, 100]}
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [ ]:
#92 #re
print(inventory['메로나'][0], '원')

300 원

In [ ]:
#93
print(inventory['메로나'][1], '개')

20 개

In [ ]:
#94
inventory['월드콘'] = [500, 7]

In [ ]:
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [ ]:
#95
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
print(list(icecream.keys()))

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [ ]:
#96
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
print(list(icecream.values()))

[1200, 1200, 1800, 1500, 1000]

In [ ]:
#97
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
print(sum(icecream.values()))

6700

In [ ]:
#98 #re         #.update()_딕셔너리 + 딕셔너리
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}

icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [2]:
#99
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)

result = dict(zip(keys, vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [4]:
#100
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
close_table= dict(zip(date, close_price))
print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

# 파이썬 분기문

In [ ]:
#101
#'bool'타입_파이썬에서 True 혹은 False를 갖는 데이터 타입

In [10]:
#111 
user_input = input('문자열을 입력하세요. : ')

if user_input == '안녕하세요':
    print(user_input)
    print(user_input+user_input)

문자열을 입력하세요. : 안녕하세요
안녕하세요
안녕하세요안녕하세요

In [11]:
#112
user_input = int(input())

print(user_input + 10)

12
22

In [12]:
#113
user_input = int(input('숫자를 입력하세요. : '))

if user_input % 2 == 0:
    print('짝수')
else:
    print('홀수')

숫자를 입력하세요. : 13
홀수

In [14]:
#114
user_input = int(input('숫자를 입력하세요. : '))

if user_input + 20 <= 255:
    print(user_input + 20)
else:
    print(255)

숫자를 입력하세요. : 260
255

In [19]:
#115
user_input = int(input('숫자를 입력하세요. : '))

if 0 < user_input - 20 < 255:
    print(user_input - 20)
elif 0 >= user_input-20:
    print(0)
else:
    print(255)

숫자를 입력하세요. : 300
255

In [22]:
#116 #re
user_time = input('문자열을 입력하세요. : ')
minute = user_time[-2:]

if minute == '00':
    print('정각입니다.')
else:
    print('정각아닙니다.')

문자열을 입력하세요. : 13:11
정각아닙니다.

In [25]:
#117
fruit = ["사과", "포도", "홍시"]
user = input('과일 : ')

if user in fruit:
    print('정답')
else:
    print('오답')

과일 : 파인애플
오답

In [28]:
#118
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
user = input('종목 : ')

if user in warn_investment_list:
    print('투자경고종목입니다.')
else:
    print('투자경고종목이아닙니다.')

종목 : Naver
투자경고종목입니다.

In [30]:
#119
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input('제가 좋아하는 계절은 : ')

if user in fruit.keys():
    print('정답')
else:
    print('오답')

제가 좋아하는 계절은 : 겨울
오답

In [34]:
#120
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input('제가 좋아하는 과일은 : ')

if user in fruit.values():
    print('정답')
else:
    print('오답')

제가 좋아하는 과일은 : 사과
정답

In [36]:
#121
user = input('문자를 입력하세요 : ')

if user.islower():
    print(user.upper())
else:
    print(user.lower())

문자를 입력하세요 : A
a

In [38]:
#122
score = int(input('점수를 입력하세요 : '))

if 81 <= score <= 100:
    print('A')
elif 61 <= score <= 80:
    print('B')
elif 41 <= score <= 60:
    print('C')
elif 21 <= score <= 40:
    print('D')
else:
    print('E')

점수를 입력하세요 : 99
A

In [45]:
#123
money = input('금액을 입력하세요(금액과 통화명 사이에 공백을 넣어 입력) : ')
금액 = float(money.split(' ')[0])
통화명 = money.split(' ')[1]

if 통화명 == '달러':
    print(금액 * 1167)
elif 통화명 == '엔':
    print(금액 * 1.096)
elif 통화명 == '유로':
    print(금액 * 1268)
else:
    print(금액 * 171)

금액을 입력하세요(금액과 통화명 사이에 공백을 넣어 입력) : 100 엔
109.60000000000001

In [48]:
#124
a = int(input('숫자를 입력하세요'))
b = int(input('숫자를 입력하세요'))
c = int(input('숫자를 입력하세요'))
d = [a,b,c]
print(max(d))

숫자를 입력하세요12
숫자를 입력하세요67
숫자를 입력하세요89
89

In [49]:
#125
user = input('휴대폰 번호 입력: ')
front = user.split('-')[0]

if front == '011':
    print('SKT')
elif front == '016':
    print('KT')
elif front == '019':
    print('LGU')
else:
    print('알수없음')

휴대폰 번호 입력: 011-233-222
SKT

In [50]:
#126 
user = input('우편번호: ')
get = user[2]

if get == '0' or '1' or '2': #wrong
    print('강북구')
elif get =='3' or '4' or '5':
    print('도봉구')
else:
    print('노원구')

우편번호: 01922
강북구

In [53]:
user = input('우편번호: ')
get = user[2]

if get == '0' or get == '1' or get == '2': #right
    print('강북구')
elif get =='3' or get =='4' or get =='5':
    print('도봉구')
else:
    print('노원구')

우편번호: 01700
노원구

In [58]:
#127 #re
user = input('주민등록번호: ')
need = user.split('-')[1][0]

if need == '1' or need == '3':
    print('남자')
else:
    print('여자')

주민등록번호: 222222-222222
여자

In [69]:
#128
user = input('주민등록번호: ')
need = user.split('-')[1]

if need[1] == '0' and 0 <= int(need[2]) <= 8:
    print('서울입니다.')
else:
    print('서울이아닙니다.')

주민등록번호: 111111-2012222
서울입니다.

In [75]:
#129
user = input('주민등록번호: ')
계산1 = (int(user[0])*2 + int(user[1])*3 + int(user[2])*4 + int(user[3])*5 + int(user[4])*6
         + int(user[5])*7  + int(user[7])*8  + int(user[8])*9  + int(user[9])*2  + int(user[10])*3 
          + int(user[11])*4 + int(user[12])*5) % 11
계산2 = 11 - 계산1
print(계산2)

if 계산2 == int(user[13]):
    print('유효한 주민등록번호')
else:
    print('유효하지 않은 번호')

주민등록번호: 990614-2123111
9
유효하지 않은 번호

In [76]:
#130 #re
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

In [81]:
변동폭 = float(btc['max_price']) - float(btc['min_price'])
시가 = float(btc['opening_price'])
최고가 = float(btc['max_price'])

if (시가 + 변동폭) > 최고가:
    print('상승장')
else:
    print('하락장')

상승장

#파이썬 반복문

In [82]:
#132
#for문의 핵심은 "들여쓰기된 코드가 자료구조에 저장된 데이터 개수만큼 반복된다"

In [84]:
#136
for 변수 in [10, 20, 30]:
    print(변수)

10
20
30

In [87]:
#138
for a in [10,20,30]:
    print(a)
    print('------')

10
------
20
------
30
------

In [88]:
#139
print('++++')
for a in (10,20,30):
    print(a)

++++
10
20
30

In [89]:
#140
for a in range(4):
    print('------')

------
------
------
------

In [90]:
#141
리스트 = [100, 200, 300]
for a in 리스트:
    b = a + 10
    print(b)

110
210
310

In [91]:
#142
리스트 = ["김밥", "라면", "튀김"]
for a in 리스트:
    print(f'오늘의 메뉴: {a}')

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [92]:
#143
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for a in 리스트:
    print(len(a))

6
4
4

In [95]:
#144
리스트 = ['dog', 'cat', 'parrot']
for a in 리스트:
    print(a, len(a))

dog 3
cat 3
parrot 6

In [96]:
#145
리스트 = ['dog', 'cat', 'parrot']
for a in 리스트:
    print(a[0])

d
c
p

In [2]:
#146
리스트 = [1, 2, 3]
for a in 리스트:
    b = f'3 x {a}'
    print(b)

3 x 1
3 x 2
3 x 3

In [4]:
#147
리스트 = [1, 2, 3]
for a in 리스트:
    b = 3 * a
    print(f'3 x {a} = {b}')

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [11]:
#148 #re
리스트 = ["가", "나", "다", "라"]
리스트1 = ["나", "다", "라"]
for a in 리스트1:
    print(a)

나
다
라

In [12]:
리스트 = ["가", "나", "다", "라"]
for a in 리스트[1:]:
    print(a)

나
다
라

In [13]:
#149
리스트 = ["가", "나", "다", "라"]
for a in 리스트[::2]:
    print(a)

가
다

In [14]:
#150
리스트 = ["가", "나", "다", "라"]
for a in 리스트[::-1]:
    print(a)

라
다
나
가

In [15]:
#151
리스트 = [3, -20, -3, 44]
for a in 리스트:
    if a < 0:
        print(a)
    else:
        continue

-20
-3

In [16]:
#152
리스트 = [3, 100, 23, 44]
for a in 리스트:
    if a % 3 == 0:
        print(a)

3

In [17]:
#153
리스트 = [13, 21, 12, 14, 30, 18]
for a in 리스트:
    if a % 3 == 0 and a < 20:
        print(a)

12
18

In [18]:
#154
리스트 = ["I", "study", "python", "language", "!"]
for a in 리스트:
    if len(a) >= 3:
        print(a)

study
python
language

In [22]:
#155
리스트 = ["A", "b", "c", "D"]
for a in 리스트:
    if a.isupper():
        print(a)

A
D

In [23]:
#156
리스트 = ["A", "b", "c", "D"]
for a in 리스트:
    if a.islower():
        print(a)

b
c

In [24]:
#157
리스트 = ['dog', 'cat', 'parrot']
for a in 리스트:
    print(a.capitalize())

Dog
Cat
Parrot

In [25]:
#158
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for a in 리스트:
    b = a.split('.')[0]
    print(b)

hello
ex01
intro

In [30]:
#159
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for a in 리스트:
    if a.endswith('h'):
        print(a)

intra.h
define.h

In [31]:
#160
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for a in 리스트:
    if a.endswith('h') or a.endswith('c'):
        print(a)

intra.h
intra.c
define.h

In [34]:
#161
for a in range(100):
    print(a)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [38]:
#162
for a in range(2002,2051,4):
    print(a)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [40]:
#163
for a in range(1,31):
    if a % 3 == 0:
        print(a)

3
6
9
12
15
18
21
24
27
30

In [43]:
#164 #re
for a in range(100):
    print(99-a)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [45]:
#165
for a in range(10):
    print(a/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [48]:
#166
for a in range(1,10):
    b = 3 * a
    print(f'3 x {a} = {b}')

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [49]:
#167
for a in range(1,10,2):
    b = 3 * a
    print(f'3 x {a} = {b}')

3 x 1 = 3
3 x 3 = 9
3 x 5 = 15
3 x 7 = 21
3 x 9 = 27

In [57]:
#168 #re
x = 0
for a in range(1,11):
    x = x + a
print(x)

55

In [58]:
#169
x = 0
for a in range(1,11,2):
    x = x + a
print(x)

25

In [59]:
#170
x = 1
for a in range(1,11):
    x = x * a
print(x)

3628800

In [62]:
#171
price_list = [32100, 32150, 32000, 32500]

for a in range(4):
    print(price_list[a])

32100
32150
32000
32500

In [63]:
#172
price_list = [32100, 32150, 32000, 32500]

for a in range(4):
    print(a, price_list[a])

0 32100
1 32150
2 32000
3 32500

In [64]:
#173
price_list = [32100, 32150, 32000, 32500]

for a in range(4):
    print(3-a, price_list[a])

3 32100
2 32150
1 32000
0 32500

In [65]:
#174
price_list = [32100, 32150, 32000, 32500]

for a in range(1,4):
    print(100+10*(a-1), price_list[a])

100 32150
110 32000
120 32500

In [72]:
#175 #re
my_list = ["가", "나", "다", "라"]
for a in range(3):
    b = a+1
    print(my_list[a], my_list[b])

가 나
나 다
다 라

In [74]:
#176
my_list = ["가", "나", "다", "라", "마"]
for a in range(3):
    b = a+1
    c = b+1
    print(my_list[a], my_list[b], my_list[c])

가 나 다
나 다 라
다 라 마

In [80]:
#177
my_list = ["가", "나", "다", "라"]
for a in range(3,0,-1):
    b = a-1
    print(my_list[a], my_list[b])

라 다
다 나
나 가

In [82]:
#178
my_list = [100, 200, 400, 800]
for a in range(1,4):
    b = my_list[a] - my_list[a-1]
    print(b)

100
200
400

In [84]:
#179
my_list = [100, 200, 400, 800, 1000, 1300]
for a in range(1,5):
    b= (my_list[a-1] + my_list[a] +my_list[a+1]) / 3
    print(b)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [8]:
#180
low_prices = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatility =[]

for i in range(5):
    a = low_prices[i]
    b = high_prices[i]
    c = b - a
    volatility.append(c)
print(volatility)

[50, 100, 30, 80, 0]

In [10]:
#181
apart = [['101호', '102호'], ['201호', '202호'], ['301호', '302호']]
print(apart)

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

In [12]:
#182
stock = [['시가', 100, 200, 300], ['종가',80, 210, 330]]
print(stock)

[['시가', 100, 200, 300], ['종가', 80, 210, 330]]

In [13]:
#183
stock = {'시가' : [100, 200, 300], '종가' : [80, 210, 330]}
print(stock)

{'시가': [100, 200, 300], '종가': [80, 210, 330]}

In [14]:
#184
stock = {'10/10' : [80, 110, 70, 90], '10/11' : [210, 230, 190, 200]}
print(stock)

{'10/10': [80, 110, 70, 90], '10/11': [210, 230, 190, 200]}

In [16]:
#185
apart = [ [101, 102], [201, 202], [301, 302] ]
for a in range(3):
    for b in range(2):
        print(apart[a][b],'호')

101 호
102 호
201 호
202 호
301 호
302 호

In [21]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for a in apart:
    for b in a:
        print(b,'호')

101 호
102 호
201 호
202 호
301 호
302 호

In [22]:
#186 #re
apart = [ [101, 102], [201, 202], [301, 302] ]
for a in apart[::-1]:
    for b in a:
        print(b,'호')

301 호
302 호
201 호
202 호
101 호
102 호

In [23]:
#187
apart = [ [101, 102], [201, 202], [301, 302] ]
for a in apart[::-1]:
    for b in a[::-1]:
        print(b,'호')

302 호
301 호
202 호
201 호
102 호
101 호

In [24]:
#188
apart = [ [101, 102], [201, 202], [301, 302] ]
for a in apart:
    for b in a:
        print(b,'호')
        print('-----')

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [25]:
#189
apart = [ [101, 102], [201, 202], [301, 302] ]
for a in apart:
    for b in a:
        print(b,'호')
    print('-----')

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [26]:
#190
apart = [ [101, 102], [201, 202], [301, 302] ]
for a in apart:
    for b in a:
        print(b,'호')
print('-----')

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [37]:
#191 #re
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for a in data:
    for b in a:
        data_1 = b * 1.00014
        print(data_1)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [39]:
#192
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for a in data:
    for b in a:
        data_1 = b * 1.00014
        print(data_1)
    print('----')

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

In [46]:
#193 #re
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result = []

for a in data:
    for b in a:
        data_1 = b * 1.00014
        result.append(data_1)
print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [3]:
#194 #re
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

result = []
for a in data:
    sub = []
    for b in a:
        data_1 = b * 1.00014
        sub.append(data_1)
    result.append(sub)    
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [4]:
#195 #re
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in ohlc[1:]:
    print(i[3])

100
190
310

In [5]:
#196
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in ohlc[1:]:
    if i[3] > 150:
        print(i[3])

190
310

In [6]:
#197
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in ohlc[1:]:
    if i[3] >= i[0]:
        print(i[3])

100
310

In [7]:
#198
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
volatility = []
for i in ohlc[1:]:
    k = i[1] - i[2]
    volatility.append(k)
print(volatility)

[40, 30, 10]

In [10]:
#199
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
volatility = []
for i in ohlc[1:]:
    if i[3] > i[0]:
        k = i[1] - i[2]
        print(k)

10

In [15]:
#200 #re
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
총수익 = 0
for i in ohlc[1:]:
    총수익 = 총수익 + i[3] - i[0]
print(총수익)

0